body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Title{
  text-align: center;
  color: red;
  text-decoration: underline;
}
.BG{
  background-image: linear-gradient(
    black, 
    orangered, 
    red, 
    rgb(116, 0, 0), 
    black,
    rgb(2, 0, 20), 
    rgb(0, 32, 44)  
);
  
  height: 2000px;
}
.logoContainer{
  position:relative;
  width: 75px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}